<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Bankrupcy for polish companies</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="net profit / total assets" placeholder="net profit / total assets" required="required" />
        <input type="text" name="total liabilities / total assets" placeholder="total liabilities / total assets" required="required" />
		    <input type="text" name="profit on operating activities / financial expenses" placeholder="profit on operating activities / financial expenses" required="required" />
         <input type="text" name="profit on sales / total assets " placeholder="profit on sales / total assets " required="required" />
		    <input type="text" name="(sales - cost of products sold) / sales" placeholder="(sales - cost of products sold) / sales" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>
    
    <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>